.myform{
    background-color: yellow;
    width: 200px;
    height: 200px;
    padding-top: 80px;
    border-radius: 7px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.myform:hover{
    background-color: darkgrey;
}